server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auditorio_unibe
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: America/Guayaquil
    database-platform: org.hibernate.dialect.PostgreSQLDialect
